img {
    height: 100%;
}

.card-img-overlay {
    display: flex;
    flex-flow: column nowrap;
}

.title {
    text-align: center;
    margin: 1em;
}

.author {
    text-align: right;
}

.content-body {
    height: 70%;
    background-color: red;
    background-color: hsla(0, 0%, 0%, 0.513);
    border-radius: 2em;
    padding: 1em;
}

.content-body .content-text {
    overflow-y: auto;
    height: 100%;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

.content-body .content-text {
    scrollbar-width: auto;
    scrollbar-color: #31313165 #97979758;
}


/* Chrome, Edge, and Safari */

.content-body .content-text::-webkit-scrollbar {
    width: 10px;
}

.content-body .content-text::-webkit-scrollbar-track {
    background: #31313165;
    border-radius: 1em;
    margin: 1em 1em;
    padding: 1em;
}

.content-body .content-text::-webkit-scrollbar-thumb {
    background-color: #97979758;
    border-radius: 1em;
    border: none;
}