<div class="card bg-dark text-white h-100">
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/017.webp" class="card-img" alt="Stony Beach" />
    <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
        <h5 class="title card-title">{{story.title}}</h5>
        <div class="content-body">
            <p class="content-text card-text">
                {{story.content}}
            </p>
        </div>

        <p class="author card-text">{{story.author}}</p>
    </div>
</div>